body 
{
margin: 0;
padding: 0;
overflow-x: hidden;
background-color: lightgray;
}
.nav 
{
margin-left: 0%;    
}
.nav ul 
{
    margin-left: 20%;
}
.nav ul li 
{
display: inline-block;
padding: 5px 20px;
}
.nav ul li a 
{
    text-decoration: none;
    list-style-type: none;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
}