body {
  margin: 0;
  padding: 0;
  background-color: coral;
}
.parent {
  width: 60%;
  height: auto;
  margin: auto;
  padding: 25px;
  background-color: white;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  margin-left: 20%;
}
.child1 {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: black;
}

.child2 {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: blue;
}

.child3 {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: red;
}
